@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-color: #fefffe;
    --background-color-alt: #acacac;
    --green-color: #03ac56;
    --green-color-alt: #03964b;
    --yellow-color: #f1c40f;
    --blue-color: #3498db;
    --blue-color-alt: #2980b9;
    --gray-color: #555;
    --red-color: #e74c3c;
    --hover-color: #00000020;
    --text-color: #171711;
}

.dark {
    --background-color: #00000a;
    --background-color-alt: #666;
    --green-color: #26de81;
    --green-color-alt: #20cd70;
    --yellow-color: #f1c40f;
    --blue-color: #3498db;
    --gray-color: #bbb;
    --hover-color: #ffffff30;
    --text-color: #fefefe;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

/* reusable clases */

.green_text {
    color: var(--green-color);
}

.btn {
    padding: 0.33rem 1.1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    gap: 0.4rem;
}

.btn svg {
    transform: scale(0.82);
}

.primary-btn {
    background-color: var(--green-color);
    color: var(--background-color);
}

.primary-btn svg {
    fill: var(--background-color);
}

.secondary-btn {
    background-color: #ddd;
    color: #171711;
}

.primary-btn:hover {
    background-color: var(--green-color-alt);
    cursor: pointer;
}

/* TOPBAR */

.topbar {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.topbar .brand {
    font-weight: 900;
}

.topbar .menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.topbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-color);
    font-size: 0.88rem;
    transition: all 300ms ease;
}

.topbar ul li:hover {
    color: var(--green-color);
    cursor: pointer;
}

.topbar .theme_toggler {
    display: flex;
    outline: none;
    border: none;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 300ms ease;
}

/* THEME TOGGLER */

.sun {
    display: none;
    fill: var(--yellow-color);
}

.moon {
    display: flex;
    fill: var(--blue-color-alt);
}

body.dark .topbar .theme_toggler .sun {
    display: flex;
}

body.dark .topbar .theme_toggler .moon {
    display: none;
}

.topbar .theme_toggler:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.topbar .theme_toggler svg.light {
    fill: var(--yellow-color);
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-height: calc(100vh - 4rem);
}

/* HOME TEXT CONTAINER */

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.rounded_img {
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    padding: 0.3rem;
    border: 2px solid var(--hover-color);
}

.hero .main_name {
    text-align: center;
}

.hero .main_name .hello {
    /* font-size: 1.3rem; */
    color: var(--gray-color);
}

.hero .main_name b {
    font-weight: 800;
    color: var(--text-color);
}

.hero .main_name h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

.hero .description {
    width: 50vw;
    text-align: center;
}

.button_group {
    display: flex;
    gap: 1rem;
}

.button_group .social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    outline: none;
    border: 0;
    border-radius: 5px;
    gap: 0.6rem;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 300ms ease;
}

.button_group .social-btn svg {
    fill: var(--text-color);
}

.button_group button:hover {
    cursor: pointer;
}

@keyframes ToDown {
    0% {
        transform: translateY(-0.1rem);
    }
    100% {
        transform: translateY(0.1rem);
    }
}

.down_button {
    position: fixed;
    bottom: 1.6rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    color: var(--gray-color);
    transition: all 300ms ease;
    background-color: transparent;
    animation: ToDown 1s alternate infinite;
}

.down_button:hover {
    cursor: pointer;
    filter: brightness(0.89);
}

.down_button svg {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--gray-color);
}

.down_button .down_arrow {
    transform: scale(0.8);
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-height: calc(100vh - 4rem);
}

.about .about_grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20vw 40vw;
    gap: 3rem;
}

.about .about_grid img {
    justify-self: end;
}

.about .about_grid p {
    justify-self: start;
}
